p {
	font-family: 'Atomic Age', cursive;
	font-size: 20px;
	font-weight: bold;
	line-height: 30px;
	letter-spacing: 3px;
}

p1 {
	font-family: 'Indie Flower', cursive;
	font-size: 20px;
	font-weight: bold;
	line-height: 60px;
	letter-spacing: 3px;
}

p2 {
	font-family: 'Fjalla One', sans-serif;
	font-size: 10px;
	line-height: 60px;
	letter-spacing: 3px;
}

p3 {
	font-family: 'Lobster', cursive;
	font-size: 20px;
	line-height: 60px;
	letter-spacing: 3px;
}